body{
	margin: 0;
	font-family: Winter !important;
	/*overflow: hidden;*/
}

h1{
	font-family: Chonburi !important;
	font-size: 2.5em;
}

h2{
	margin: 0;
	font-family: Chonburi !important;
}

p{
	font-size: 1em;
	font-family: BaiJamjuree;
}

li{
	list-style-type: none;
	cursor: pointer;

}

ul{
	margin: 0;
	display: inline-block;
}

a{
	text-decoration: none;
	color: #055464;
	font-size: 1.3em;
}

@font-face {
	font-family: Chonburi;
	src: url(font/font/chonburi-regular.ttf);
}

@font-face {
	font-family: Srinakharinwirot;
	src: url(font/font/Srinakharinwirot-Regular.otf);
}

@font-face {
	font-family: BaiJamjuree;
	src: url(font/font/BaiJamjuree-Regular.ttf);
}

@font-face {
	font-family: Winter;
	src: url(font/font/Winter_Sans.otf);
}

.baiJamjuree{
	font-family: BaiJamjuree !important;
}

.Srinakharinwirot{
	font-family: Srinakharinwirot !important;
}

.Winter{
	font-family: Winter !important;
}

.header{
	font-size: 2.7em;
	margin: 5px;
    line-height: 1.2;
}

@keyframes obj-scl{
	from{transform: scale(1);}
	to{transform: scale(1.05);}
}

@keyframes show-bg{
	from{opacity: 1;}
	to{opacity: 0;}
}

@keyframes show-obj{
	from{transform: rotate(30deg);}
	to{transform: rotate(0deg);}
}

.darkGreen{
	color: #055464;
}

.lightGreen{
	color: #9bd3ca;
}

.green{
	color: #099690;
}

.lightOrange{
	color: #e1a277;
}

.darkOrange{
	color: #e65836;
}



.home-1{
	background-image: url(img/home/bg-home.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	animation: show-bg 1s 1 reverse;
	transform: scale(1);
}

.story{
	background-image: url(img/home/story.png);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 1;
}

.history{
	background-image: url(img/home/history.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 1;
}

.media{
	background-image: url(img/home/media.jpg);
	background-size: 100%;
	z-index: 1;
	background-repeat: no-repeat;
}

.artist{
	background-image: url(img/home/artist.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 1;
}



.obj-scale:hover{
	cursor: pointer;
}

.clickMenu{
	list-style-type: disc;
}



/*mobile*/
@media only screen and (max-width: 812px) {
	#obj{
		width: 100%;
		height: 50vh;
		display: flex;
		align-self: flex-end;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-self: flex-end;
	}
	#divLogo{
		/*background-color: white;*/
		width: 70px;
		height: 70px;
	}
	#logo{
		width: 100%;
	}
	#menuBar{
		/*background-color: red;*/
		border: 1px #099690;
		border-radius: 5px;
		border-style: none solid solid solid;
		width: 100%;
		height: 70px;
	}
	#listMenu {
		font-size: 0.7em;
		line-height: 1.8;
		color: #055464;
		padding: 10px;
		text-align: center;
	}
	li{
		list-style-type: none;
	}
	#caption{
		position: fixed;
		bottom: 0%;
		padding: 20px;
		padding-left: 30px;
		text-align: center;
	}
	#clickMe{
		height: 30vh;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 5;
	}
	#homepage{
		width: 100%;
		/*height: 100vh;*/
		/*background-color: white;*/
		background-repeat: no-repeat;
		/*position: absolute;*/
		/*top: 45%;*/
		overflow: hidden;
		display: flex;
		align-self: flex-end;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-self: flex-end;
	}
	.home-2{
		background-image: url(img/home/obj-home.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: show-obj 3s;
		transform: scale(1);
	}

	.obj-s{
		background-image: url(img/home/obj-s.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
	}

	.obj-h{
		background-image: url(img/home/obj-h.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
	}

	.obj-m{
		background-image: url(img/home/obj-m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
	}

	.obj-a{
		background-image: url(img/home/obj-a.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;

	}

	.h_imgContent{
		width: 100%;
	}

	.h-menu{
		background-color: white;
		border: 1px #099690;
		border-radius: 5px;
		border-style: none solid solid solid;
		width: 100%;
		height: 70px;
		position: fixed;
		z-index: 4;
	}

	#h-history{
		display: none;
	}

	.h-content{
		/*width: 80%;*/
		padding: 20px;
		top: 55px;
		position: relative;
		margin-bottom: 5%;
	}

	.h-innerContent{
		padding-left: 20px;
		padding-right: 20px;
		display: inline-block;
		line-height: 1.7;
		/*background-color: yellow;*/
	}
	.h-innerContent2{
		padding-left: 20px;
    	padding-right: 20px;
    	display: inline-block;
    	line-height: 1.7;
	}

	.h-section-1{
		width: 100%;
		/*height: 200%;*/
		padding: 10px;
		position: relative;
		display: -webkit-inline-box;
	}

	.h-section-2{
		/*height: 200%;*/
		padding: 10px;
	}

	.h-section-2 img{
		float: right;
	}

	.img-left{
		/*background-color: purple;*/
		width: 100%;
		height: 200px;
		display: inline-block;
	}
	.img-right{
		/*background-color: red;*/
		display: inline-block;
		width: 100%;
	}
	#inner_menu{
		display: none;
	}
	#hamburger{
		/*background-color: green;*/
		width: 30px;
		height: 30px;
		position: absolute;
		top: 20px;
		right: 0px;
		margin-right: 20px;
	}
	.show-menu{
		display: inline-block !important;
		background-color: white;
		width: 100%;
	}
	#backHome{
		display: none;
	}
	#sec_6{
		margin-bottom: 50px;
	}
	.a-section-1{
		padding: 10px;
		position: absolute;
		display: inline-box;
	}
	.a-img{
		width: 100%;
	}
	.a-innerContent{
		width: 100%;
	}
	#a_img{
		width: 40%;
	}
	.a-content{
		/*width: 100%;*/
    	padding: 20px;
    	top: 55px;
    	position: relative;
	}
	.mobile-width{
		width: 100%;
	}
	.s-content{
		padding: 10px;
	}
	img{
		width: 100%;
	}
	.footer{
		background: pink;
		padding: 10px;
		text-align: center;
	}
	.a-footer{
		margin-left: 0;
		background: pink;
		text-align: center;
		padding: 10px;
		margin-top: 50px;
	}
	.container{
	width: 100%;
	height: 100vh;
	display: flex;
	/*flex-flow: column wrap;
	align-items: flex-start;
	justify-content: space-around;*/
	align-items: flex-start;
    justify-content: flex-end;
}
}
/*desktop*/
@media only screen and (min-width: 813px) {
	#obj{
		width: 100%;
		height: 100vh;
	}
	#divLogo{
		padding-top: 20px;
		padding-left: 20px;
	}
	#menuBar{
		width: 25%;
		height: 100vh;
	}
	#hamburger{
		display: none;
	}
	#caption{
		padding: 30px;
	}
	/*#home_inner_menu{
		position: relative;
		left: 30px;
		font-size: 2.7em;
		line-height: 1.8;
		color: #055464;
		width: 70px;
	}*/
	#clickMe{
		/*background-color: pink;*/
		height: 70vh;
		width: 70%;
		position: absolute;
		top: 20%;
		left: 30%;
	}

	#homepage{
		width: 100%;
		top: 0px;
		background-color: white;
		background-repeat: no-repeat;
		position: absolute;
		z-index: -1;
		background-size: cover;
		overflow: hidden;
	}
	.home-2{
		background-image: url(img/home/obj-home.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: show-obj 3s;
		transform: scale(1);
		background-size: cover;
	}

	.obj-s{
		background-image: url(img/home/obj-s.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl 1s infinite alternate ;
		transition: all .5s;
		background-size: cover;
	}

	.obj-h{
		background-image: url(img/home/obj-h.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl 1s infinite alternate ;
		transition: all .5s;
		background-size: cover;
	}

	.obj-m{
		background-image: url(img/home/obj-m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl 1s infinite alternate ;
		transition: all .5s;
		background-size: cover;
	}

	.obj-a{
		background-image: url(img/home/obj-a.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl 1s infinite alternate ;
		transition: all .5s;
		background-size: cover;

	}

	.h-menu{
		width: 25%;
		height: 100vh;
		padding: 30px;
		position: fixed;
		margin-left: 30px;
		box-sizing: border-box;
	}
	#h-history{
		left: 40px;
		position: relative;
	}

	.h-content{
		/*width: 80%;*/
		padding: 20px;
		margin-top: 45px;
		margin-left: 33%;
		/*position: relative;*/
		/*top: 100px;*/
	}

	.h-innerContent{
		/*width: 50%;*/
		padding-left: 40px;
		padding-right: 40px;
		display: inline-block;
		position: absolute;
		line-height: 1.7;
	}

	.h-innerContent2{
		width: 50%;
		padding-left: 40px;
		padding-right: 40px;
		display: inline-block;
		position: absolute;
		line-height: 1.7;
	}

	.h-section-1{
		padding: 10px;
		position: relative;
	}

	.h-section-2{
		padding: 10px;
		position: relative;
	}
	.sec1{
		height: 55vh;
	}
	#sec_2{
		height: 60vh;
	}
	#sec_3{
		height: 55vh;
	}
	#sec_4{
		height: 80vh;
	}

	#sec_5{
		height: 50vh;
	}
	#sec_6{
		height: 80vh;
	}

	.h-section-2 img{
		float: right;
	}

	.full{
		width: 90%;
	}
	.img-left{
		/*width: 35%;*/
    	display: inline-block;
	}

	.img-right{
		/*width: 35%;*/
    	/*display: inline-block;*/
    	margin: 10px;
    	position: absolute;
    	right: 0%;
	}
	#backHome{
		padding-left: 50px;
		padding-top: 20px;
		position: absolute;
		left: 30px;
		top: 75%;
	}
	.artistName{
		/*background-color: red;*/
		width: 50%;
		position: absolute;
		top: 0%;
		left: 25%;
		line-height: 0.5;
	}
	.a-innerContent{
		/*width: 65%;
		top: 130px;
		padding-right: 40px;
		display: inline-block;
		position: absolute;
		line-height: 1.7;*/
	}
	.a-img{
		width: 25%;
		display: inline-block;
	}
	.a-work{
		/*background-color: black;*/
		position: relative;
    	top: 75px;
    	padding-top: 30px;
	}
	.a-section-1{
		padding: 10px;
		position: relative;
		height: 80vh;
	}
	.a-img{
		width:40%;
	}
	.a-innerContent{
		width: 65%;
		left: 26%;
		padding-right: 40px;
		display: inline-block;
		position: absolute;
	}
	#a_img{
		width: 40%;
	}
	.a-content{
    	padding: 20px;
    	top: 55px;
    	position: relative;
    	margin-left: 30%;
    	display: inline-block;
	}
	.s-content{
		line-height: 2em;
		padding-right: 130px;
	}
	.footer{
	text-align: center;
	height: auto;
	padding: 20px;
	background: pink;
	position: relative;
	bottom: 0%;
	margin-left: 30%;
	/*width: 100%;*/
	}
	.a-footer{
	background: pink;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	bottom: 0%;
	margin-top: 15%;
	margin-left: 30%;
}

}

/*--------------------------------------------------------*/


#wrap{
	/*width: 100%;
	height: 100vh;
	position: absolute;
	float: left;
	display: inline-flex;*/
}

.setDisplay{
	display: none;
}
/*
.setOverflow{
	overflow: auto !important;
}*/
.innerMenu{
	line-height: 2;
    position: relative;
    left: -20px;
    /*display: grid;*/
}
.dropdown-menu{
	display: grid;
}

.innerMenu li{
	font-size: 1.1em;
	padding-right: 20px;
}

.setBgWhite{
	background: white;
}

iframe{
	padding: 20px;
}

.setBlock{
	display: block;
}

