body{
	margin: 0;
	font-family: Winter !important;
	overflow: hidden;
}

h1{
	font-family: Chonburi !important;
	font-size: 2em;
}

h2{
	margin: 0;
	font-family: Chonburi !important;
}

p{
	font-size: 1.2em;
	font-family: BaiJamjuree;
}

img{
	cursor: pointer;
}

li{
	list-style-type: none;
	cursor: pointer;

}

ul{
	margin: 0;
	display: inline-block;
}

a{
	text-decoration: none;
}

@font-face {
	font-family: Chonburi;
	src: url(font/font/chonburi-regular.ttf);
}

@font-face {
	font-family: Srinakharinwirot;
	src: url(font/font/Srinakharinwirot-Regular.otf);
}

@font-face {
	font-family: BaiJamjuree;
	src: url(font/font/BaiJamjuree-Regular.ttf);
}

@font-face {
	font-family: Winter;
	src: url(font/font/Winter_Sans.otf);
}

.baiJamjuree{
	font-family: BaiJamjuree !important;
}

.Srinakharinwirot{
	font-family: Srinakharinwirot !important;
}

.Winter{
	font-family: Winter !important;
}

@keyframes obj-scl{
	from{transform: scale(1);}
	to{transform: scale(1.05);}
}

@keyframes show-bg{
	from{opacity: 1;}
	to{opacity: 0;}
}

@keyframes show-obj{
	from{transform: rotate(30deg);}
	to{transform: rotate(0deg);}
}

.darkGreen{
	color: #055464;
}

.lightGreen{
	color: #9bd3ca;
}

.green{
	color: #099690;
}

.lightOrange{
	color: #e1a277;
}

.darkOrange{
	color: #e65836;
}



.home-1{
	background-image: url(img/home/bg-home.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	animation: show-bg 1s 1 reverse;
	transform: scale(1);
}

.story{
	background-image: url(img/home/story.png);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 1;
}

.history{
	background-image: url(img/home/history.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 1;
}

.media{
	background-image: url(img/home/media.jpg);
	background-size: 100%;
	z-index: 1;
	background-repeat: no-repeat;
}

.artist{
	background-image: url(img/home/artist.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 1;
}



.obj-scale:hover{
	cursor: pointer;
}

.clickMenu{
	list-style-type: disc;
}

#obj{
	width: 100%;
	height: 100vh;
}

@media only screen and (max-width: 769px) {
	#divLogo{
		/*background-color: white;*/
		width: 70px;
		height: 70px;
	}
	#logo{
		width: 100%;
	}
	#menuBar{
		/*background-color: red;*/
		border: 1px #099690;
		border-radius: 5px;
		border-style: none solid solid solid;
		width: 100%;
		height: 70px;
	}
	#listMenu {
		font-size: 1.5em;
		line-height: 1.8;
		color: #055464;
		padding-top: 20px;
		text-align: center;
	}
	li{
		list-style-type: none;
	}
	#caption{
		position: absolute;
		top: 60%;
		text-align: center;
		padding: 10px;
	}
	#homepage{
		width: 100%;
		height: 100vh;
		background-color: white;
		background-repeat: no-repeat;
		position: absolute;
		z-index: -1;
		top: 35%;
		overflow: hidden;
	}
	.home-2{
		background-image: url(img/home/obj-home.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: show-obj 3s;
		transform: scale(1);
	}

	.obj-s{
		background-image: url(img/home/obj-s.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
	}

	.obj-h{
		background-image: url(img/home/obj-h.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
	}

	.obj-m{
		background-image: url(img/home/obj-m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
	}

	.obj-a{
		background-image: url(img/home/obj-a.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;

	}
	
	.h-left{
		width: 30%;
		height: 100vh;
		padding: 30px;
		position: relative;
		background-color: white;
		margin: 0px;
	}

	.h-menu{
		width: 20%;
		height: 100vh;
		padding: 30px;
		position: fixed;
		background-color: white;
		margin: 0px;
	}

	.h-content{
		width: 80%;
		padding: 20px;
	}

	.h-innerContent{
		width: 50%;
		padding-left: 40px;
		padding-right: 40px;
		display: inline-block;
		position: absolute;
		line-height: 1.7;
	}

	.h-section-1{
		height: 80%;
		padding: 10px;
		position: relative;
	}

	.h-section-2{
		height: 80%;
		padding: 10px;
		position: relative;

	}

	.h-section-2 img{
		float: right;
	}

	.full{
		width: 80%;
	}
}
/*desktop*/
@media only screen and (min-width: 770px) {
	#divLogo{
		padding-left: 50px;
		padding-top: 50px;
	}
	#menuBar{
		width: 25%;
		height: 100vh;
	}
	#caption{
		padding: 30px;
	}
	#listMenu{
		position: relative;
		left: 30px;
		font-size: 2.7em;
		line-height: 1.8;
		color: #055464;
		width: 70px;
	}

	#homepage{
		width: 100%;
		top: 0px;
		background-color: white;
		background-repeat: no-repeat;
		position: absolute;
		z-index: -1;
		background-size: cover;
	}
	.home-2{
		background-image: url(img/home/obj-home.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: show-obj 3s;
		transform: scale(1);
		background-size: cover;
	}

	.obj-s{
		background-image: url(img/home/obj-s.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
		background-size: cover;
	}

	.obj-h{
		background-image: url(img/home/obj-h.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
		background-size: cover;
	}

	.obj-m{
		background-image: url(img/home/obj-m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
		background-size: cover;
	}

	.obj-a{
		background-image: url(img/home/obj-a.png);
		background-size: 100%;
		background-repeat: no-repeat;
		animation: obj-scl .5s infinite alternate ;
		transition: all .5s;
		background-size: cover;

	}
	.h-left{
		width: 30%;
		height: 100vh;
		padding: 30px;
		position: relative;
		background-color: white;
		margin: 0px;
	}

	.h-menu{
		width: 20%;
		height: 100vh;
		padding: 30px;
		position: fixed;
		background-color: white;
		margin: 0px;
	}

	.h-content{
		width: 80%;
		padding: 20px;
	}

	.h-innerContent{
		width: 50%;
		padding-left: 40px;
		padding-right: 40px;
		display: inline-block;
		position: absolute;
		line-height: 1.7;
	}

	.h-section-1{
		height: 80%;
		padding: 10px;
		position: relative;
	}

	.h-section-2{
		height: 80%;
		padding: 10px;
		position: relative;

	}

	.h-section-2 img{
		float: right;
	}

	.full{
		width: 80%;
	}
}

/*--------------------------------------------------------*/


#warp{
	width: 100%;
	height: 100vh;
	position: absolute;
	float: left;
	display: inline-flex;
}

.setOpa{
	opacity: 0;
}

.setOverflow{
	overflow: auto !important;
}

.a_menu{
	font-size: 1.5em;
	line-height: 1.5;
	width: 25%;
	margin: 0;
}

.artistImg01{
	background-image: url(img/artist/001Re.jpg);
}

#c_art{
		/*background: rgba(4, 255, 255, 0.7);*/
		padding: 50px;
		width: 70%;
		box-sizing: border-box;
		/*display: flex;*/
		height: 100vh;
		position: absolute;
		top: 0%;
		z-index: -2;
		font-size: 1.7em;
	}

	#artistImg{
		/*background-color: red;*/
		width: 100%;
		height: 60%;
		background-repeat: no-repeat;
	}

	.artistName{
		position: absolute;
		left: 25%;
	}

	.port{
		/*background-color: pink;*/
		width: 60%;
		height: 25%;
		left: 25%;
		position: absolute;
		top: 20%;
	}

	.innerMenu{
	line-height: 2;
}

.innerMenu li{
	font-size: 1.5em;
}

/*.menu{
	width: 35%;
}*/